*
{
	margin:0;
	padding:0;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
hr
{
	border-style:solid;
	border-width:1px;
	border-color:white;
}
body
{
	width:100%;
	height:100%;
	background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("../images/new.jpg");
	background-size:cover;
	background-attachment:scroll;
}
.top
{
	margin: 0;
	padding: 0;
	display:flex;
	align-items:center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.topic
{
	color:#20B2AA;
	/* margin:0px 20px 0px 530px; */
	text-align:center;
	padding-bottom:10px;
	padding-top: -10px;
}

.navigation
{
	margin: auto;
	padding: 35px 0;
	display:flex;
	align-items:left;

}
.navigation ul{
	width: 100%;
	display: flex;
	align-items: left;
	justify-content: left;
}
.auth{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 12px;
}
.logo
{
	cursor:pointer;
	margin-left: 12px;
	
}
.user
{
	cursor:pointer;
	/* margin:0px 20px 0px 400px; */
	text-align:center;
	/* padding-bottom:10px; */
	padding-top: -10px;
	border-radius:150px;
}
button
{
	width:100px;
	padding:1px 0;
	text-align:center;
	margin:5px 5px;
	border-radius:25px;
	font-weight:bold;
	border:2px solid #20B2AA;
	background: transparent;
	color:#fff;
	cursor:pointer;
	position:relative;
	overflow:hidden;
}
span
{
	background:#20B2AA;
	height:100%;
	width: 0%;
	border-radius:25px;
	position:absolute;
	left:0;
	bottom:0;
	z-index:-1;
}
button:hover span
{
	width:100%;
}
.navigation ul li
{
	list-style:none;
	display:inline-block;
	margin: 0 10px;
	position:relative;
}
.navigation ul li a
{
	text-decoration:none;
	color:#fff;
	text-transform:uppercase;
}
.navigation ul li::after
{
	content: ' ';
	height:3px;
	width:0;
	background:#20B2AA;
	position:absolute;
	left: 5px;;
	bottom:-10px;	
}
.navigation ul li:hover::after
{
	width:100%;	
}	
.bottom
{
	margin: 0;
	padding: 0;
	display:flex;
	align-items:center;
}
.text
{
	margin: auto;
	padding: 35px 0;
	display:flex;
	align-items:center;
	color:#fff;
}
.text ul li
{
	list-style:none;
	margin: 0 20px;
	position:relative;
}
.text ul li a
{
	text-decoration:none;
	color:#fff;
	text-transform:uppercase;
}
.text ul li ::after
{
	content: ' ';
	height:3px;
	width:0;
	background:#20B2AA;
	position:absolute;
	left:0;
	bottom:-10px;	
}
.text ul li :hover::after
{
	width:100%;	
}	
